<div id="plupload_container" class="card pluploader">
    <div class="card-body">

        <div id='modalmsg'></div>
        <div id='progress_container'>
        </div>
        <div class="m-b-40 m-t-40  text-center">
            <button id='pickfiles' type='button' class="btn btn-primary btn-lg">
                <i class='icon-upload position-left'></i> Select Videos
            </button>
        </div>
    </div>
</div>
<div id="publish-panel" class="card publish" style="display:none;">
    <div class="card-body">
        <h5>Uploaded Files</h5>
        <div id="msg"></div>
        <hr />
        <div id="pub-Container"></div>
        <div id="display-info" style="display:none;">
            <h4>Generate Output</h4>
            <p>
                <pre class="language-css" id="video-output"></pre>
            </p>
        </div>
    </div>
</div>
